/*@import "variables";
@import "styles";*/

@import "variables";
@import "base/index";

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Poppins' !important;
	background-color: #f4f4f4;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

input::placeholder {
    font-family: 'Poppins' !important;
}

a {
    text-decoration: none;
    outline: 0;
    color: #000;
}

hr {
    border-top: 1px solid #EAEAEA;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -webkit-moz-appearance: textfield;
}

/** {
    animation-duration: 0s !important;
}*/

.@{class-prefix}-header {
    padding-top: 40px;
	height: 16vh;
    background-color: #fff;
    color: #000;
    align-items: center;
}

.@{class-prefix}-header-history {
    height: 28vh !important;
}

.@{class-prefix}-login-container {
    min-height: 400px;
    width: 100%;
    background-color: @primary-color;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;

    .@{class-prefix}-login-form {
        right: 0;
        width: 260px;
        height: auto;
        background-color: #fff !important;
        border-radius: 6px;

        .@{class-prefix}-username {
            font-size: 16px;
            padding: 6px;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            width: 97%;
        }

        .@{class-prefix}-password {
            font-size: 16px;
            padding: 6px;
            border: 1px solid #eaeaea;
            border-radius: 6px;
            width: 97%;
        }
    }
}

.@{class-prefix}-error-message {
    font-size: 14px;
    color: #fff;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);

    .@{class-prefix}-error-message-ok {
        color: #BB86FC !important;
        cursor: pointer;
    }
}

.@{class-prefix}-history-sorter-status {
    position: sticky;
    width: 230px;
    background-color: #fff;
    color: #000;
    margin-top: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 6px;
    z-index: 99;
}

.@{class-prefix}-searchbox-reset {
    top: 2.3vh;
    right: 13vh;
    position: absolute;
}

.@{class-prefix}-searchbox {
    font-weight: 500;
    font-size: 16px;
    width: 56vh;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px;
}

.@{class-prefix}-search-suggestions {
    position: sticky;
    width: 56vh;
    background-color: #fff;
    color: #000;
    margin-top: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    border-radius: 6px;
    z-index: 99;
}

.@{class-prefix}-qty-box {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 8px;
}

.@{class-prefix}-cook-step-item {
    position: relative;
    border-left: 2px dashed #C4C4C4;

    .@{class-prefix}-cook-step-item-body {
        padding-top: -12vh;
    }
}

.@{class-prefix}-cook-step-item-ongoing {
    position: relative;
    border-left: 2px solid #C4C4C4;
}

.@{class-prefix}-cook-step-item-done {
    position: relative;
    border-left: 2px solid #2BAF2B;
}

.@{class-prefix}-cook-step-item:last-child {
    position: relative;
    border-left: none !important;
}

.@{class-prefix}-cook-step-item:not(:last-child) {
    position: relative;

    .@{class-prefix}-cook-step-item-body {
        padding-top: -12vh;
        border-bottom: 1px solid #eaeaea !important;
    }
}

.@{class-prefix}-cook-step-item-icon {
    position: absolute;
    top: 0;
    left: -1.8vh;
    z-index: 100;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #C4C4C4;
    background-color: #fff;
}

.@{class-prefix}-cook-step-item-icon-done {
    border: 1px solid #2BAF2B !important;
    background-color: #2BAF2B !important;
    content: url("@{assets-path}/images/menu/check.svg");
}

.@{class-prefix}-icon-circle-close {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/circle-close.svg");
}

.@{class-prefix}-icon-check-success {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/check-success.svg");
}

.@{class-prefix}-text-underlined {
    text-decoration: underline;
    text-decoration-color: @primary-color;
    padding-top: 4px;
}

.@{class-prefix}-fw-normal {
    font-weight: normal !important;
}

.@{class-prefix}-active-tab {
    border-bottom: 2px solid @primary-color;
}

.@{class-prefix}-menu-sorter {
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    padding: 8px 12px;
    color: #898989;
    font-size: 14px;
}

.@{class-prefix}-menu-sorter-active {
    border: 1px solid @primary-color !important;
    background-color: @primary-color !important;
    color: #fff !important;
}

.@{class-prefix}-detail-container {
    width: 70%;
    background-color: #fff;
    border-radius: 6px;

    .@{class-prefix}-detail-body {
        padding: 16px;

        .@{class-prefix}-detail-composition {
            font-size: 16px;
        }
    }
}

.@{class-prefix}-detail-image-container {
    position: relative;

    .@{class-prefix}-back-button {
        position: absolute;
        top: 26px;
        left: 20px;
    }
}

.@{class-prefix}-detail-quantity {
    width: 30%;
    background-color: #fff;
    height: 190px;
    border-radius: 6px;

    .@{class-prefix}-quantity-body {
        padding: 16px;
    }
}

.@{class-prefix}-cooking-container {
    margin: 0px 30vh;
    padding: 16px;
    background-color: #fff;
    border-radius: 6px;
}

.@{class-prefix}-rating-container {
    margin: 0px 30vh;
    padding: 16px;
    background-color: #fff;
    border-radius: 6px;
}

.@{class-prefix}-rating-reaction-container {
    margin: 0px 26vh;
}

.@{class-prefix}-container {
	max-width: 1000px;
}

.@{class-prefix}-activities{
	display: flex;
	flex-wrap: wrap;
}

.@{class-prefix}-divider {
	border-bottom: 1px solid #E5E5E5;
}

.@{class-prefix}-modal-wrapper {
	position: fixed;
    z-index: 100;
    inset: 0px;
  	background: rgba(0,0,0, 0.4);
}

.@{class-prefix}-text-input {
	width: 80%;
	color: #111111;
    border: 1px solid #E5E5E5;
    outline: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 6px;
}

.@{class-prefix}-priority-box {
	position: relative;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    width: 80%;
}

.@{class-prefix}-priority-dropdown {
	top: 0;
    border: 1px solid #E5E5E5;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
}

.@{class-prefix}-priority-dropdown-item {
	border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.@{class-prefix}-modal-content {
	top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
	width: 90vh;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
}

.@{class-prefix}-menu {
	width: 38vh;
    height: 50vh;
	border: none !important;
    background-color: #fff !important;
    border-radius: 6px !important;
    margin-bottom: 26px;
    position: relative;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

	.@{class-prefix}-menu-body {
        padding: 6px 16px 16px 16px;
        height: 16vh;

        .@{class-prefix}-menu-title {
            font-size: 18px;
            font-weight: 700;
        }

        .@{class-prefix}-menu-subtitle {
            font-size: 14px;
            font-weight: 400;
            color: #828282;
        }
	}
}

.@{class-prefix}-menu-reaction-badge {
    padding: 6px;
    border: 1px solid #EAEAEA;
    border-radius: 19px;font-size: 12px;
    color: #828282;
}

.@{class-prefix}-menu-image {
    border-radius: 6px 6px 0px 0px !important;
    width: 100%;
    height: 26vh;
    cursor: pointer;
    object-fit: cover;
}

.@{class-prefix}-menu-image-large {
    width: 100%;
    height: 440px;
    object-fit: cover;
}

.@{class-prefix}-icon-reaction-success {
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/reaction-success.svg");
}

.@{class-prefix}-icon-reaction-warning {
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/reaction-warning.svg");
}

.@{class-prefix}-icon-reaction-danger {
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/reaction-danger.svg");
}

.@{class-prefix}-icon-good-taste {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/good-taste.svg");
}

.@{class-prefix}-icon-good-taste-active {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/good-taste-colored.svg");
}

.@{class-prefix}-icon-avg-taste {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/avg-taste.svg");
}

.@{class-prefix}-icon-avg-taste-active {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/avg-taste-colored.svg");
}

.@{class-prefix}-icon-bad-taste {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/bad-taste.svg");
}

.@{class-prefix}-icon-bad-taste-active {
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/bad-taste-colored.svg");
}

.@{class-prefix}-icon-circle-minus {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/circle-minus.svg");
}

.@{class-prefix}-icon-circle-plus {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/circle-plus.svg");
}

.@{class-prefix}-icon-back {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/back.svg");
}

.@{class-prefix}-icon-file-history {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/file-history.svg");
}

.@{class-prefix}-state-item {
	border: none !important;
    background-color: #fff !important;
    border-radius: 12px !important;
    position: relative;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.@{class-prefix}-state-item-checkbox {
	height: 3.5vh;
	width: 3.5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	border: 1px solid #c7c7c7;
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.@{class-prefix}-state-item-checkbox(:checked) {
	background-color: @primary-color !important;
	border-color: @primary-color !important;
}

.@{class-prefix}-btn {
	font-family: inherit !important;
    border-radius: 6px;
    border: 0;
    padding: 2vh 3vh;
    font-size: 2vh;
    font-weight: 600;
}

.@{class-prefix}-btn-default {
    background-color: #fff;
    border: 1px solid #eaeaea !important;
}

.@{class-prefix}-btn-sort {
	border-radius: 50%;
	border: 1px solid #e5e5e5;
	background-color: transparent;
	height: 50px;
	width: 50px;
	margin-right: 18px;
	position: relative;
}

.@{class-prefix}-btn:not(:disabled) {
	cursor: pointer;
}

.@{class-prefix}-pointer {
	cursor: pointer;
}

.@{class-prefix}-btn-primary {
	background-color: @primary-color;
	color: white;
}

.@{class-prefix}-btn-primary:disabled {
	background-color: #9e9e9e !important;
	border-color: #9e9e9e !important;
}

.@{class-prefix}-btn-success {
    background-color: #2BAF2B;
    color: white;
}

.@{class-prefix}-btn-success:disabled {
    background-color: #9e9e9e !important;
    border-color: #9e9e9e !important;
}

.@{class-prefix}-btn-danger {
	background-color: @danger-color !important;
	color: white !important;
}

.@{class-prefix}-text-danger {
	color: @danger-color !important;
}

.@{class-prefix}-text-warning {
    color: #F4B51E !important;
}

.@{class-prefix}-codefood-logo {
    width: 192px;
    height: 49px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/codefood-logo.svg");
}

.@{class-prefix}-codefood-logo-white {
    width: 552px;
    height: 139px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/codefood-logo-white.svg");
}

.@{class-prefix}-icon-plus {
	width: 2.5vh;
    height: 2.5vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/plus.svg");
}

.@{class-prefix}-icon-arrow-down {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/arrow-down.svg");
}

.@{class-prefix}-icon-arrow-down-filled {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/arrow-down-filled.svg");
}

.@{class-prefix}-icon-edit {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/edit.svg");
}

.@{class-prefix}-icon-state-item {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/edit.svg");
}

.@{class-prefix}-icon-sort {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort.svg");
}

.@{class-prefix}-icon-sort-asc {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort-asc.svg");
}

.@{class-prefix}-icon-sort-asc-alp {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort-asc-alp.svg");
}
.@{class-prefix}-icon-sort-desc {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort-desc.svg");
}
.@{class-prefix}-icon-sort-desc-alp {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort-desc-alp.svg");
}
.@{class-prefix}-icon-sort-unfinished {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/sort-unfinished.svg");
}

.@{class-prefix}-icon-trash {
	width: 3vh;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/trash.svg");
}

.@{class-prefix}-icon-trash-item {
	width: 4vh !important;
    height: 4vh !important;
}

.@{class-prefix}-icon-warning {
	width: 8vh;
    height: 8vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/warning-icon.svg");
}

.@{class-prefix}-icon-close {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/close-icon.svg");
}

.@{class-prefix}-icon-chevron-up {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/chevron-up.svg");
}

.@{class-prefix}-icon-chevron-down {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/chevron-down.svg");
}

.@{class-prefix}-icon-check {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/check.svg");
}

.@{class-prefix}-icon-info-circle {
	width: 4vh;
    height: 4vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/info-circle.svg");
}

.@{class-prefix}-menu-empty {
	width: 400px;
	height: 460px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/menu/menu-empty.svg");
}

.@{class-prefix}-state-empty {
	width: 75%;
	height: 50vw;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
	background-image: url("@{assets-path}/images/todo/state-empty.svg");
}

.@{class-prefix}-foods-drinks {
    width: 400px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/foods-drinks.svg");
}

.@{class-prefix}-rating-thanks {
    width: 400px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    background-image: url("@{assets-path}/images/menu/rating-thanks.svg");
}

.@{class-prefix}-header-title {
	font-size: 24px;
	font-weight: 700;
	color: white;
}

.@{class-prefix}-activity-edit {
	background-color: transparent;
	border: 0;
	font-size: 28px;
	font-weight: 700;
	border-bottom: 1px solid;
	max-width: 583px;
}

.@{class-prefix}-text-truncate {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.@{class-prefix}-label-indicator {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	margin: 0 10px 0 7px;
}

.@{class-prefix}-very-high {
    background-color: #ed4c5c;
}
.@{class-prefix}-high {
    background-color: #f8a541;
}
.@{class-prefix}-normal {
    background-color: #00a790;
}
.@{class-prefix}-low {
    background-color: #428bc1;
}
.@{class-prefix}-very-low {
    background-color: #8942c1;
}

.@{class-prefix}-wrapper-container {
	padding: 0px 86px !important;
}

@media (min-width: 0px) and (max-width: @screen-xs-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 28px !important;
	}
}

// Medium screen / desktop - 480
@media (min-width: @screen-xs-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 52px !important;
	}
}

// Medium screen / desktop - 576
@media (min-width: @screen-sm-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 86px !important;
	}
}

// Medium screen / desktop - 768
@media (min-width: @screen-md-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 98px !important;
	}
}

// Large screen / wide desktop - 992
@media (min-width: @screen-lg-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 112px !important;
	}
}

// Extra large screen / full hd - 1200
@media (min-width: @screen-xl-min) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 126px !important;
	}
}

// Extra large screen / Extra full hd - 1368
@media (min-width: (@screen-xl-min + 168px)) {
	.@{class-prefix}-wrapper-container {
		padding: 0px 146px !important;
	}
}

.@{class-prefix}-size-175 {
    width: 175px;
    height: 175px;
}

.@{class-prefix}-object-fit-cover {
    object-fit: cover;
}

.@{class-prefix}-w-175 {
    width: 175px !important;
}

.@{class-prefix}-h-175 {
    height: 175px !important;
}

.@{class-prefix}-h-225 {
    height: 225px !important;
}

.@{class-prefix}-w-100 {
	width: 100% !important;
}

.@{class-prefix}-h-100 {
	height: 100% !important;
}

.@{class-prefix}-opacity-10 {
	.opacity(0.1)
}

.@{class-prefix}-opacity-20 {
	.opacity(0.2)
}

.@{class-prefix}-opacity-30 {
	.opacity(0.3)
}

.@{class-prefix}-opacity-40 {
	.opacity(0.4)
}

.@{class-prefix}-opacity-50 {
	.opacity(0.5)
}

.@{class-prefix}-opacity-60 {
	.opacity(0.6)
}

.@{class-prefix}-opacity-70 {
	.opacity(0.7)
}

.@{class-prefix}-opacity-80 {
	.opacity(0.8)
}

.@{class-prefix}-opacity-90 {
	.opacity(0.9)
}

.@{class-prefix}-bg-white {
    background-color: #fff !important;
}

.@{class-prefix}-bg-primary {
	background-color: @primary-color !important;
}

.@{class-prefix}-bg-secondary {
	background-color: @secondary-color !important;
}

.@{class-prefix}-text-primary {
	color: @primary-color !important;
}

.@{class-prefix}-text-success {
    color: #2BAF2B !important;
}

.@{class-prefix}-bg-light-grey {
	background-color: #F4F4F4 !important;
}

.@{class-prefix}-profile-cover {
	height: 40vh;
  	object-fit: cover;
}

.@{class-prefix}-position-relative {
	position: relative !important;
}

.@{class-prefix}-position-absolute {
    position: absolute !important;
}

.@{class-prefix}-gallery-action {
	width: 100%;
	text-align: center;
}

.@{class-prefix}-profile-content {
	margin-top: -40vh !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.@{class-prefix}-image-gallery {
	object-fit: cover;
  	width: 100%;
  	height: 34vh;
}

.@{class-prefix}-pointer {
	cursor: pointer;
}

.@{class-prefix}-flex {
	display: flex;
	flex-direction: column;
}

.@{class-prefix}-bg-transparent {
	background-color: transparent !important;
}

.@{class-prefix}-cover-container {
	padding: 86px !important;
}

.@{class-prefix}-description {
	margin: 32px 0px 0px 32px;
}

.@{class-prefix}-text-muted {
	color: #8E8EA3;
}

// Border radius
.@{class-prefix}-rounded-xs {
    .border-radius(@border-radius-sm - 2px) !important;
}

.@{class-prefix}-rounded-sm {
    .border-radius(@border-radius-sm) !important;
}

.@{class-prefix}-rounded-base {
    .border-radius(@border-radius-base) !important;
}

.@{class-prefix}-rounded-lg {
    .border-radius(@border-radius-lg) !important;
}

.@{class-prefix}-rounded-xxl {
    .border-radius(@border-radius-xxl) !important;
}

.@{class-prefix}-rounded-circle {
    .border-radius(@border-radius-circle) !important;
}

.@{class-prefix}-border {
    border: @border-style-base @border-width-base @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-2 {
    border: @border-style-base 2px @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-top {
    border-top: @border-style-base @border-width-base @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-bottom {
    border-bottom: @border-style-base @border-width-base @border-color !important;
    border-color: rgba(255, 255, 255, 0.12) !important;
}

.@{class-prefix}-border-bottom-2 {
    border-bottom: @border-style-base (@border-width-base + @border-width-base) @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-left {
    border-left: @border-style-base @border-width-base @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-right {
    border-right: @border-style-base @border-width-base @border-color;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-border-0 {
    border: 0 none !important;
    border-color: rgba(255, 255, 255, 0.12);
}

.@{class-prefix}-d-none {
    display: none !important;
}

.@{class-prefix}-d-block {
    display: block !important;
}

.@{class-prefix}-d-flex {
    display: flex !important;
}

.@{class-prefix}-d-inline-flex {
    display: inline-flex !important;
}

.@{class-prefix}-justify-content-between {
    justify-content: space-between !important;
}

.@{class-prefix}-align-items-center {
    align-items: center !important;
}



.@{class-prefix}-link-icon {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

@media (min-width: 0px) and (max-width: @screen-xs-min) {
	.@{class-prefix}-cover-container {
		height: auto !important;
		padding: 28px !important;
	}
}

// Medium screen / desktop - 480
@media (min-width: @screen-xs-min) {
	.@{class-prefix}-cover-container {
		height: auto !important;
		padding: 28px !important;
	}
}

// Medium screen / desktop - 576
@media (min-width: @screen-sm-min) {
	.@{class-prefix}-cover-container {
		height: auto !important;
		padding: 28px !important;
	}
}

// Medium screen / desktop - 768
@media (min-width: @screen-md-min) {
	.@{class-prefix}-cover-container {
		min-height: 700px !important;
		padding: 28px !important;
	}
}

// Large screen / wide desktop - 992
@media (min-width: @screen-lg-min) {
	.@{class-prefix}-cover-container {
		min-height: 700px !important;
		padding: 52px !important;
	}
}

// Extra large screen / full hd - 1200
@media (min-width: @screen-xl-min) {
	.@{class-prefix}-cover-container {
		min-height: 700px !important;
		padding: 86px !important;
	}
}

// Extra large screen / Extra full hd - 1368
@media (min-width: (@screen-xl-min + 168px)) {
	.@{class-prefix}-cover-container {
		min-height: 700px !important;
		padding: 86px !important;
	}
}

.@{class-prefix}-sorter-parent {
	width: 30vh;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    -webkit-box-shadow: 3px 4px 4px -2px #555;
    -moz-box-shadow: 3px 4px 4px -2px #555;
    box-shadow: 3px 4px 4px -2px #555;
    border-radius: 6px;
    position: absolute;
    top: -2.5rem;
    left: 20rem;
    transform: translate3d(649px, 226px, 0px);
    will-change: transform;
    z-index: 100;
}

.@{class-prefix}-sorter-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}

.@{class-prefix}-text-truncate {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.@{class-prefix}-text-truncate-two-lines {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.@{class-prefix}-text-truncate-two-lines {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.@{class-prefix}-text-truncate-three-lines {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.@{class-prefix}-text-truncate-four-lines {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

.@{class-prefix}-text-truncate-five-lines {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
}