@class-prefix: cf;

@primary-color: #EF5734;
@danger-color: #ed4c5c;
@assets-path: "../assets";

/*@primary-color: #16162A;*/
@secondary-color: #292946;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

@font-size-sm: 12px;
@font-size-base: 14px;
@font-size-lg: 16px;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-semi-bold: 600;
@font-weight-bold: 700;
@font-weight-heavy: 900;

@border-color: #fefefe;
@border-width-base: 1px;
@border-style-base: solid;

@border-radius-base: 4px;
@border-radius-sm: 2px;
@border-radius-lg: 10px;
@border-radius-xxl: 30px;
@border-radius-circle: 50%;