/*Margin Padding Styles*/
.@{class-prefix}-mb-30 {
    margin-bottom: 30px !important;
}

.@{class-prefix}-mb-10 {
    margin-bottom: 10px !important;
}

.@{class-prefix}-m-0 {
    margin: 0 !important;
}

.@{class-prefix}-mt-0,
.@{class-prefix}-my-0 {
    margin-top: 0 !important;
}

.@{class-prefix}-mr-0,
.@{class-prefix}-mx-0 {
    margin-right: 0 !important;
}

.@{class-prefix}-mb-0,
.@{class-prefix}-my-0 {
    margin-bottom: 0 !important;
}

.@{class-prefix}-ml-0,
.@{class-prefix}-mx-0 {
    margin-left: 0 !important;
}

.@{class-prefix}-m-1 {
    margin: 0.25rem !important;
}

.@{class-prefix}-mt-1,
.@{class-prefix}-my-1 {
    margin-top: 0.25rem !important;
}

.@{class-prefix}-mr-1,
.@{class-prefix}-mx-1 {
    margin-right: 0.25rem !important;
}

.@{class-prefix}-mb-1,
.@{class-prefix}-my-1 {
    margin-bottom: 0.25rem !important;
}

.@{class-prefix}-ml-1,
.@{class-prefix}-mx-1 {
    margin-left: 0.25rem !important;
}

.@{class-prefix}-m-2 {
    margin: 0.5rem !important;
}

.@{class-prefix}-mt-2,
.@{class-prefix}-my-2 {
    margin-top: 0.5rem !important;
}

.@{class-prefix}-mr-2,
.@{class-prefix}-mx-2 {
    margin-right: 0.5rem !important;
}

.@{class-prefix}-mb-2,
.@{class-prefix}-my-2 {
    margin-bottom: 0.5rem !important;
}

.@{class-prefix}-ml-2,
.@{class-prefix}-mx-2 {
    margin-left: 0.5rem !important;
}

.@{class-prefix}-m-3 {
    margin: 1rem !important;
}

.@{class-prefix}-mt-3,
.@{class-prefix}-my-3 {
    margin-top: 1rem !important;
}

.@{class-prefix}-mr-3,
.@{class-prefix}-mx-3 {
    margin-right: 1rem !important;
}

.@{class-prefix}-mb-3,
.@{class-prefix}-my-3 {
    margin-bottom: 1rem !important;
}

.@{class-prefix}-ml-3,
.@{class-prefix}-mx-3 {
    margin-left: 1rem !important;
}

.@{class-prefix}-m-4 {
    margin: 1.5rem !important;
}

.@{class-prefix}-mt-4,
.@{class-prefix}-my-4 {
    margin-top: 1.5rem !important;
}

.@{class-prefix}-mr-4,
.@{class-prefix}-mx-4 {
    margin-right: 1.5rem !important;
}

.@{class-prefix}-mb-4,
.@{class-prefix}-my-4 {
    margin-bottom: 1.5rem !important;
}

.@{class-prefix}-ml-4,
.@{class-prefix}-mx-4 {
    margin-left: 1.5rem !important;
}

.@{class-prefix}-m-5 {
    margin: 3rem !important;
}

.@{class-prefix}-mt-5,
.@{class-prefix}-my-5 {
    margin-top: 3rem !important;
}

.@{class-prefix}-mr-5,
.@{class-prefix}-mx-5 {
    margin-right: 3rem !important;
}

.@{class-prefix}-mb-5,
.@{class-prefix}-my-5 {
    margin-bottom: 3rem !important;
}

.@{class-prefix}-ml-5,
.@{class-prefix}-mx-5 {
    margin-left: 3rem !important;
}

.@{class-prefix}-p-0 {
    padding: 0 !important;
}

.@{class-prefix}-pt-0,
.@{class-prefix}-py-0 {
    padding-top: 0 !important;
}

.@{class-prefix}-pr-0,
.@{class-prefix}-px-0 {
    padding-right: 0 !important;
}

.@{class-prefix}-pb-0,
.@{class-prefix}-py-0 {
    padding-bottom: 0 !important;
}

.@{class-prefix}-pl-0,
.@{class-prefix}-px-0 {
    padding-left: 0 !important;
}

.@{class-prefix}-p-1 {
    padding: 0.25rem !important;
}

.@{class-prefix}-pt-1,
.@{class-prefix}-py-1 {
    padding-top: 0.25rem !important;
}

.@{class-prefix}-pr-1,
.@{class-prefix}-px-1 {
    padding-right: 0.25rem !important;
}

.@{class-prefix}-pb-1,
.@{class-prefix}-py-1 {
    padding-bottom: 0.25rem !important;
}

.@{class-prefix}-pl-1,
.@{class-prefix}-px-1 {
    padding-left: 0.25rem !important;
}

.@{class-prefix}-p-2 {
    padding: 0.5rem !important;
}

.@{class-prefix}-pt-2,
.@{class-prefix}-py-2 {
    padding-top: 0.5rem !important;
}

.@{class-prefix}-pr-2,
.@{class-prefix}-px-2 {
    padding-right: 0.5rem !important;
}

.@{class-prefix}-pb-2,
.@{class-prefix}-py-2 {
    padding-bottom: 0.5rem !important;
}

.@{class-prefix}-pl-2,
.@{class-prefix}-px-2 {
    padding-left: 0.5rem !important;
}

.@{class-prefix}-p-3 {
    padding: 1rem !important;
}

.@{class-prefix}-pt-3,
.@{class-prefix}-py-3 {
    padding-top: 1rem !important;
}

.@{class-prefix}-pr-3,
.@{class-prefix}-px-3 {
    padding-right: 1rem !important;
}

.@{class-prefix}-pb-3,
.@{class-prefix}-py-3 {
    padding-bottom: 1rem !important;
}

.@{class-prefix}-pl-3,
.@{class-prefix}-px-3 {
    padding-left: 1rem !important;
}

.@{class-prefix}-p-4 {
    padding: 1.5rem !important;
}

.@{class-prefix}-pt-4,
.@{class-prefix}-py-4 {
    padding-top: 1.5rem !important;
}

.@{class-prefix}-pr-4,
.@{class-prefix}-px-4 {
    padding-right: 1.5rem !important;
}

.@{class-prefix}-pb-4,
.@{class-prefix}-py-4 {
    padding-bottom: 1.5rem !important;
}

.@{class-prefix}-pl-4,
.@{class-prefix}-px-4 {
    padding-left: 1.5rem !important;
}

.@{class-prefix}-p-5 {
    padding: 2rem !important;
}

.@{class-prefix}-pt-5,
.@{class-prefix}-py-5 {
    padding-top: 2rem !important;
}

.@{class-prefix}-pr-5,
.@{class-prefix}-px-5 {
    padding-right: 2rem !important;
}

.@{class-prefix}-pb-5,
.@{class-prefix}-py-5 {
    padding-bottom: 2rem !important;
}

.@{class-prefix}-pl-5,
.@{class-prefix}-px-5 {
    padding-left: 2rem !important;
}

.@{class-prefix}-m-auto {
    margin: auto !important;
}

.@{class-prefix}-mt-auto,
.@{class-prefix}-my-auto {
    margin-top: auto !important;
}

.@{class-prefix}-mr-auto,
.@{class-prefix}-mx-auto {
    margin-right: auto !important;
}

.@{class-prefix}-mb-auto,
.@{class-prefix}-my-auto {
    margin-bottom: auto !important;
}

.@{class-prefix}-ml-auto,
.@{class-prefix}-mx-auto {
    margin-left: auto !important;
}